<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Trakt">
        <setting type="lsep" label="Authorization" />
        <setting type="action" id="trakt.username" label="Authorize Trakt" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/auth_trakt)" />
        <setting type="action" label="Revoke Trakt" subsetting="true" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/revoke_trakt)" visible="!eq(-1,)" />
        <setting type="labelenum" id="trakt.list_time_period" label="Time period for 'Recently' lists" values="Weekly|Monthly|Yearly|All" default="Weekly" />
        <setting type="bool" label="Show Advanced Info" id="trakt.bts" default="false" />
        <setting type="text" id="trakt.access_token" subsetting="true" label="Trakt Access Token" enable="false" default="" visible="eq(-1,True)" />
        <setting type="text" id="trakt.refresh_token" subsetting="true" label="Trakt Refresh Token" enable="false" default="" visible="eq(-2,True)" />
        <setting type="number" id="trakt.expires" subsetting="true" label="Trakt Token Expiration" enable="false" default="0" visible="eq(-3,True)" />
    </category>
    <category label="Players">
        <setting type="labelenum" id="player.movies.external" label="External Movie Player" values="FoxyStreams|Seren" default="FoxyStreams" />
    </category>
    
    <category label="Library">
        <setting type="lsep" label="Trakt Library Sync" />
        <setting type="bool" id="library.sync.traktcollection.movies" label="Sync Movies Collection on Startup" default="false" />
        <setting type="bool" id="library.sync.traktcollection.tv" label="Sync TV Shows Collection on Startup" default="false" />
        <setting type="bool" id="library.sync.traktwatchlist.movies" label="Sync Movies Watchlist on Startup" default="false" />
        <setting type="bool" id="library.sync.traktwatchlist.tv" label="Sync TV Shows Watchlist on Startup" default="false" />
        <setting type="action" label="Choose Lists to Sync" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/lists/choose)" />
        <setting type="text" id="library.sync.chosen_lists" label="Chosen lists to sync" visible="false" />
        <setting type="lsep" label="Manual Force Sync (Delete and Rebuild)" />
        <setting type="action" id="trakt.last_sync_movies_collection" label="Sync Movies Collection Now" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/movies/collection?refresh=True)" />
        <setting type="action" id="trakt.last_sync_tv_collection" label="Sync TV Shows Collection Now" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/tv/collection?refresh=True)" />
        <setting type="action" id="trakt.last_sync_movies_watchlist" label="Sync Movies Watchlist Now" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/movies/watchlist?refresh=True)" />
        <setting type="action" id="trakt.last_sync_tv_watchlst" label="Sync TV Shows Watchlist Now" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/tv/watchlist?refresh=True)" />
        <setting type="action" id="trakt.last_sync_movies_lists" label="Sync Movie Lists Now" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/movies/lists?refresh=True)" />
        <setting type="action" id="trakt.last_sync_tv_lists" label="Sync TV Show Lists Now" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/tv/lists?refresh=True)" />
        <setting type="bool" id="context.foxymeta" label="Show 'Add to FoxyMeta Library' on context menu (requires a reboot)" default="false" />
        <setting type="number" id="library.sync.traktcollection.tv.lastupdate" visible="false" default="0" />
        <setting type="text" id="library.sync.traktcollection.tv.future_checks" visible="false" default="{}" />
        <setting type="number" id="apis.tvdb.jwt.epoch" visible="false" default="0" />
    </category>
</settings>
