<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Trakt">
        <setting type="lsep" label="Authorization" />
        <setting type="action" id="trakt.username" label="Authorize Trakt" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/auth_trakt)" />
        <setting type="action" label="Revoke Trakt" subsetting="true" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/revoke_trakt)" visible="!eq(-1,)" />
        <setting type="labelenum" id="trakt.list_time_period" label="Time period for 'Recently' lists" values="Weekly|Monthly|Yearly|All" default="Weekly" />
        <setting type="bool" label="Show Advanced Info" id="trakt.bts" default="false" />
        <setting type="text" id="trakt.access_token" subsetting="true" label="Trakt Access Token" enable="false" default="" visible="eq(-1,True)" />
        <setting type="text" id="trakt.refresh_token" subsetting="true" label="Trakt Refresh Token" enable="false" default="" visible="eq(-2,True)" />
        <setting type="number" id="trakt.expires" subsetting="true" label="Trakt Token Expiration" enable="false" default="0" visible="eq(-3,True)" />
    </category>
    <category label="Players">
        <setting type="labelenum" id="player.movies.external" label="External Movie Player" values="FoxyStreams|Seren|TMDbHelper" default="FoxyStreams" />
        <setting type="labelenum" id="player.tv.external" label="External TV Player" values="FoxyStreams|Seren|TMDbHelper" default="FoxyStreams" />
    </category>
    <category label="Library">
        <setting type="lsep" label="Automatic Sync of Trakt Collections" />
        <setting type="bool" id="library.sync.traktcollection.movies" label="Movies" default="false" />
        <setting type="bool" id="library.sync.traktcollection.tv" label="TV Shows" default="false" />
        <setting type="lsep" label="Manual Force Sync (Delete and rebuild)" />
        <setting type="action" label="Movies" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/movies?refresh=True)" />
        <setting type="action" label="TV Shows" option="close" action="RunPlugin(plugin://plugin.video.foxymeta/library/sync/tv?refresh=True)" />
        <setting type="number" id="library.sync.traktcollection.tv.lastupdate" visible="false" default="0" />
        <setting type="text" id="library.sync.traktcollection.tv.future_checks" visible="false" default="{}" />
        <setting type="number" id="apis.tvdb.jwt.epoch" visible="false" default="0" />
        <setting type="text" id="apis.tvdb.jwt" visible="false" />
    </category>
</settings>
